# Node
node_modules/
dist/
.env
.env.*
!.env.example

# Rust / Tauri
src-tauri/target/
src-tauri/gen/

# Android / iOS Build Artifacts
*.apk
*.aab
*.keystore
*.jks

# Firebase
.firebase/
firebase-debug.log*
.firebaserc
google-services.json
src-tauri/gen/android/app/google-services.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace